<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rose.electronichealthrecord">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElectronicHealthRecord">
        <activity
            android:name=".UI.DiagnosisDetails"
            android:exported="false" />
        <activity
            android:name=".UI.MedicationDetails"
            android:exported="false" />
        <activity
            android:name=".UI.NoteDetails"
            android:exported="false" />
        <activity
            android:name=".UI.PatientList"
            android:exported="false" />
        <activity
            android:name=".UI.AddDiagnosis"
            android:exported="false" />
        <activity
            android:name=".UI.AddProgressNote"
            android:exported="false" />
        <activity
            android:name=".UI.AddMedication"
            android:exported="false" />
        <activity
            android:name=".UI.PatientDetails"
            android:exported="false" />
        <activity
            android:name=".UI.AddPatient"
            android:exported="false" />
        <activity
            android:name=".UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>